<div class="container" id="login-content" fxLayout="column">
  <div id="title" fxFlex fxFlexOffset="150px" fxFlexOffset.xs="100px">
    <p>ÁREA DO VOLUNTÁRIO</p>
  </div>
  <div class="login-form" fxFlex>
    <form (ngSubmit)="login()">
      <div id="login-email" fxLayout="row" fxLayoutAlign="center">
        <md-form-field>
          <input mdInput type="email" placeholder="Email"
                 name="email" #email="ngModel" ([ngModel])="usuario.email" >
          <md-error *ngIf="emailFormControl.hasError('pattern')">
            Insira um email válido.
          </md-error>
          <md-error *ngIf="emailFormControl.hasError('required')">
            Campo <strong>obrigatório!</strong>
          </md-error>
        </md-form-field>
      </div>
      <div id="login-senha">
        <md-form-field>
          <input mdInput type="password" placeholder="Senha"
                 name="senha" #senha="ngModel" ([ngModel])="usuario.senha" [formControl]="senhaFormControl">
          <md-error *ngIf="senhaFormControl.hasError('required')">
            Campo <strong>obrigatório!</strong>
          </md-error>
        </md-form-field>
      </div>
      <div id="login-esqueceu-senha">
        <a href="#">Esqueceu a senha?</a>
      </div>
      <div>
        <button md-raised-button type="submit"><md-icon>lock</md-icon>Iniciar Sessão</button>
      </div>
      <div id="login-text">
        <h2>Ainda não é Voluntário?</h2>
        <p>Basta preecher o cadastro e logar para obter mais informações.</p>
      </div>
      <div>
        <button md-raised-button>Fazer Cadastro</button>
      </div>
    </form>
  </div>
</div>
