#login-content {
  //width: 250px;
  text-align: center;

  #title {
    background-color: #0AC986;
    color: white;

    p {
      padding: 25px 20px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
  }

  form {
    background-color: white;
  }
}




